---
extends: base.ymy
default_block: !!null
description: iune trecet
parse: yammy
---


{% block about %}
header
    hgroup
        h1 LIBRE
        h2 GRAPHIC DESIGNER
    
    div#information
        img
            - src {{ media_url('images/iune.jpg') }}
            - alt iune
        ul
            li Iune Trecet Obeso
            li contact@iune.info
            li Date of birth: 1985/03/31
section#cv
    div.cv_details
        img
            - src {{ media_url('images/cvgraphs.svg') }}
            - alt Graph of knowledge
    div.cv_details
        h1 Graphic design using Free and Open Source tools
        ul#tools
            li g 
                ul
                    li 
                        a h
                            - href https://debian.org/ 
                    li 
                        a i
                            - href https://creativecommons.org/
                    li 
                        a j
                            - href https://creativecommons.org/
            li k 
                ul
                    li 
                        a l
                            - href https://djangoproject.com/
                    li 
                        a m
                            - href https://git-scm.com/
                    li 
                        a n
                            - href https://getfirebug.com/
                    li 
                        a o
                            - href https://sass-lang.com/
                    li 
                        a p
                            - href https://bitbucket.org/leporo/yammy
                    li 
                        a q
                            - href https://foundation.zurb.com/ 
                    li 
                        a r
                            - href https://compass-style.org/
            li s 
                ul
                    li 
                        a t
                            - href https://inkscape.org/ 
            li u 
                ul
                    li 
                        a v
                            - href https://scribus.net/
            li w 
                ul
                    li 
                        a t
                            - href https://inkscape.org/
            li x 
                ul
                    li 
                        a y
                            - href https://gimp.org/
                    li 
                        a z
                            - href https://darktable.org/
            li 0
    div.cv_details
        h1 Online activity
        ul#activity
            li 
                a 1
                    - href https://gisa-elkartea.org/
            li 
                a 2
                    - href https://github.com/iunetrecet
            li 
                a 3
                    - href https://flickr.com/photos/iunetrecet/
            li 
                a 4
                    - href https://bitbucket.org/account/user/iunetrecet/
            li 
                a 5
                    - href https://transifex.com/accounts/profile/iune/
            li 
                a 6
                    - href https://openclipart.org/user-detail/iune/
            li 
                a 8
                    - href https://vimeo.com/iunetrecet/ 

    div.cv_details
        h1 Official formation in Graphic Design
        ul#formation
            li
                a Ceinpro
                    - href https://ceinpro.es/
                ul
                    li Nere titulua
        h1 Online formation in Graphic Design
        ul#online
            li
                a
                    - href https://codeschool.com/users/iune/ 
                    img
                        - src {{ media_url('images/codeschool.svg') }}
                        - alt Code School
                ul
                    li HTML/CSS Master 
                    li Fundamentals of Design
                    li CSS Cross-Country
                    li Journey Into Mobile
                    li Assembling Sass
                    li Assembling Sass 2
                    li Front-end Formations
                    li Try Git
                    li Git Real
                    li Git Real 2
                    li Java Script Road Trip

            
ul#links
    li
        img
            - src {{ media_url ('images/cv.svg') }}
            - alt CV
        | See my CV
    li
        | Contact me
        img
            - src {{ media_url ('images/contact.svg') }}
            - alt Contact
    li
        img
            - src {{ media_url ('images/identity.svg') }}
            - alt Identity handbook
        | See my identity handbook
{% endblock about %}


{% block footer %}
div#left
    a 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        img 
            - alt Creative Commons-en baimena
            - style border-width:0
            - src {{ media_url ('images/cc-by-sa.svg') }}
    a#license 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        b iune.info
        | ko edukiak kopiatu, moldatu, zabaldu eta argitaratzeko libre zara, beti ere, nire egiletza direla aitortzen baduzu eta baldintza beretan egiten baduzu.
    div#cc
        span 
            - xmlns:dct http://purl.org/dc/terms/
            - href http://purl.org/dc/dcmitype/InteractiveResource
            - property dct:title
            - rel="dct:type"
            | iune.info&nbsp
        | lana,&nbsp 
        a 
            - xmlns:cc http://creativecommons.org/ns#
            - href http://iune.info
            - property cc:attributionName
            - rel cc:attributionURL
            | iune&nbsp
        | egilearena,&nbsp 
        a 
            - rel license
            - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
            | Creative Commons Aitortu-PartekatuBerdin 3.0 Unported baimen baten mende dago
div#right
    a[href="http://ringce.com/hyde"]
        img
            - src {{ media_url ('images/hyde.svg') }}
            - alt powered by hyde
{% endblock footer %}
