---
extends: base.ymy
default_block: !!null
description: iune trecet
parse: yammy
---


{% block about %}
header
    hgroup
        h1 LIBRE
        h2 GRAPHIC DESIGNER
    
    img
        - src {{ media_url('images/iune.jpg') }}
        - alt iune
section#cv
    div.cv_details
        img
            - src {{ media_url('images/cvgraphs.svg') }}
            - alt Graph of knowledge
    div.cv_details
        h1 Graphic design using Free and Open Source tools
        ul#tools
            li 
                img
                    - src {{ media_url('images/copyleft.svg') }}
                    - alt Copyleft
                ul
                    li 
                        img
                            - src {{ media_url('images/debian.svg') }}
                            - alt Debian
                    li 
                        img
                            - src {{ media_url('images/publicdomain.svg') }}
                            - alt Public Domain
                    li 
                        img
                            - src {{ media_url('images/bysa.svg') }}
                            - alt By-sa
            li 
                img
                    - src {{ media_url('images/webdesign.svg') }}
                    - alt Web design
                ul
                    li 
                        img
                            - src {{ media_url('images/django.svg') }}
                            - alt Django
                    li 
                        img
                            - src {{ media_url('images/git.svg') }}
                            - alt Git
                    li 
                        img
                            - src {{ media_url('images/sass.svg') }}
                            - alt Sass
                    li 
                        img
                            - src {{ media_url('images/yammy.svg') }}
                            - alt Yammy
                    li 
                        img
                            - src {{ media_url('images/foundation.svg') }}
                            - alt Foundation
                    li 
                        img
                            - src {{ media_url('images/compass.svg') }}
                            - alt Compass
            li 
                img
                    - src {{ media_url('images/vector.svg') }}
                    - alt Vector design
                ul
                    li 
                        img
                            - src {{ media_url('images/inkscape.svg') }}
                            - alt Inkscape
            li 
                img
                    - src {{ media_url('images/layout.svg') }}
                    - alt Layout
                ul
                    li 
                        img
                            - src {{ media_url('images/scribus.svg') }}
                            - alt Scribus
            li 
                img
                    - src {{ media_url('images/identity.svg') }}
                    - alt Identity Manual
                ul
                    li 
                        img
                            - src {{ media_url('images/inkscape.svg') }}
                            - alt Inkscape
            li 
                img
                    - src {{ media_url('images/photography.svg') }}
                    - alt Photography
                ul
                    li 
                        img
                            - src {{ media_url('images/gimp.svg') }}
                            - alt Gimp
                    li 
                        img
                            - src {{ media_url('images/darktable.svg') }}
                            - alt Darktable
            li 
                img
                    - src {{ media_url('images/courses.svg') }}
                    - alt Courses of FLOSS tools
    div.cv_details
        h1 Online activity
    div.cv_details
        h1 Formation in Graphic Design
    
ul#links
    li
        img
            - src {{ media_url ('images/cv.svg') }}
            - alt CV
        | See my CV
    li
        | Contact me
        img
            - src {{ media_url ('images/contact.svg') }}
            - alt Contact
    li
        img
            - src {{ media_url ('images/identity.svg') }}
            - alt Identity handbook
        | See my identity handbook
{% endblock about %}


{% block footer %}
div#left
    a 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        img 
            - alt Creative Commons-en baimena
            - style border-width:0
            - src {{ media_url ('images/cc-by-sa.svg') }}
    a#license 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        b iune.info
        | ko edukiak kopiatu, moldatu, zabaldu eta argitaratzeko libre zara, beti ere, nire egiletza direla aitortzen baduzu eta baldintza beretan egiten baduzu.
    div#cc
        span 
            - xmlns:dct http://purl.org/dc/terms/
            - href http://purl.org/dc/dcmitype/InteractiveResource
            - property dct:title
            - rel="dct:type"
            | iune.info&nbsp
        | lana,&nbsp 
        a 
            - xmlns:cc http://creativecommons.org/ns#
            - href http://iune.info
            - property cc:attributionName
            - rel cc:attributionURL
            | iune&nbsp
        | egilearena,&nbsp 
        a 
            - rel license
            - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
            | Creative Commons Aitortu-PartekatuBerdin 3.0 Unported baimen baten mende dago
div#right
    a[href="http://ringce.com/hyde"]
        img
            - src {{ media_url ('images/hyde.svg') }}
            - alt powered by hyde
{% endblock footer %}
