---
extends: base.ymy
default_block: !!null
description: iune trecet
parse: yammy
---


{% block cv %}
header
    p ///
    h1 my cv
    p ///
    
section#cv
    img
        - src {{ media_url ('images/cv.svg') }}
        - alt CV
        
{% endblock cv %}


{% block footer %}
div#left
    a 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        img 
            - alt Creative Commons-en baimena
            - style border-width:0
            - src {{ media_url ('images/cc-by-sa.svg') }}
    a#license 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        b iune.info
        | ko edukiak kopiatu, moldatu, zabaldu eta argitaratzeko libre zara, beti ere, nire egiletza direla aitortzen baduzu eta baldintza beretan egiten baduzu.
    div#cc
        span 
            - xmlns:dct http://purl.org/dc/terms/
            - href http://purl.org/dc/dcmitype/InteractiveResource
            - property dct:title
            - rel="dct:type"
            | iune.info&nbsp
        | lana,&nbsp 
        a 
            - xmlns:cc http://creativecommons.org/ns#
            - href http://iune.info
            - property cc:attributionName
            - rel cc:attributionURL
            | iune&nbsp
        | egilearena,&nbsp 
        a 
            - rel license
            - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
            | Creative Commons Aitortu-PartekatuBerdin 3.0 Unported baimen baten mende dago
div#right
    a[href="http://ringce.com/hyde"]
        img
            - src {{ media_url ('images/hyde.svg') }}
            - alt powered by hyde
{% endblock footer %}
