@import foundation
@import compass

$sans: Lato
$serif: Lora
$emphasis: Aleo
$base-font-size: 18px
$base-line-height: 30px
$include-open-sans: false !important
+establish-baseline

$red: #d40000
$blue: #009999
$green: #9fee00

p
    +leader(1)
    +trailer(1)

h1, h2, h3, h4, h5, h6
    font-family: $sans

body
    font-family: $sans
    background: scale-lightness($blue, -95%)
    +force-wrap
    
body > header
    background-size: cover
    background-repeat: no-repeat
    h1
        height: 20%
    ul.info
        li.language
            a.custom-split-button-class
                +split-button($padding: medium, $pip-color: $red, $base-style: true )

    background-image: image-url('iunesketch.jpg') //

section#portfolio
    ul
        +block-grid(4)
        max-width: 100%
        margin: 0 .7%
        li
            list-style: none
            position: relative
            hgroup
                background: scale-color($color: $blue, $lightness: -40%, $alpha: -25%)
                position: absolute
                width: 70%
                height: 70%
                top: 15%
                left: 15%
                padding: 10%
                +box-sizing(padding-box)
                +border-radius(100%)
                h1, h2
                    position: absolute
                    left: 0
                    width: 80%
                    margin: 0 10%
                    padding: 5%
                    color: white
                    text-align: center
                    +box-sizing(padding-box)

                h1
                    font-family: $sans
                    border-bottom: .1em solid white
                    font-size: 1.2em
                    bottom: 50%
                h2
                    font-family: $serif
                    font-size: .9em
                    top: 50%

section#cv
    background: scale-color($color: $green, $lightness: 95%, $saturation: -95%)
