---
extends: base.ymy
default_block: !!null
description: iune trecet
language: en
uuid: index
parse: yammy
---


{% block about %}
header
    img
        - src {{ media_url('images/iune.jpg') }}
        - alt iune
    hgroup
        h1 
            | I'm&nbsp
            span#name
                | iune,
        h2 a libre graphic designer
div#personal
    p    
        Iune Trecet Obeso naiz, 1985eko martxoatren 31an Donostian (Gipuzkoa) jaioa.
    p
        Txikitatik gurasoek nere alde artistikoa garatu izan dute, txikitan jostailu gogokoena margoak eta orriak ziren, eta leku guztitara joaten nintzen hauekin. Urteak aurrera joan hala, beste bide bat hartuz, Geografiako karrera egin nuen, baina ez nintzen guztiz gustora sentitzen.
    p
        Inguruko kolektibo eta jendearentzako kartelak eta beste diseinu batzuk egiten hasi nintzen orduan, eta garai hartan ere Lakaxitako hacklaba ezagutu nuen. Han hasi zen software askearekiko lotura, mundu berri bat nuen aurrean eta oso erakargarria zen.
    p
        Hacklabean parte hartzen hasi nintzenean Django-ko ikastaro bat hasi zen, eta hemen web garapenean oinarri bat hartu nuen. Honen ondoren, nire kabuz HTMLa eta CSSa ikaste hasi nintzen. Honela, nire lehenengo diseinatzaile lana lortu nuen.
    p
        Horrela ezagutu nuen GISA elkartea, eta bertako partaide izatera hasi nintzen, Gipuzkoan software askea zabaltzea duen elkartea izanik.
    p
        Diseinu grafikoa eta software askearekiko loturak aurrera jarraitzen du, webguneak diseinatzeaz gain, argazkiak atera eta eraldatu, kartelen, manual korporatiboen edota merchandisingaren diseinua ere sortzen ditut. Beti askeak diren tresnak erabiliz, eta sortutako guztiari lizentzia askea jarriz.

ul#links
    li
        img
            - src {{ media_url ('images/cv.svg') }}
            - alt CV
        | See my CV
    li
        | Contact me
        img
            - src {{ media_url ('images/contact.svg') }}
            - alt Contact
    li
        img
            - src {{ media_url ('images/identity.svg') }}
            - alt Identity handbook
        | See my identity handbook
{% endblock about %}


{% block footer %}
div#hyde
    a[href="http://ringce.com/hyde"]
        img
            - src {{ media_url ('images/hyde.svg') }}
            - alt powered by hyde
a 
    - rel license
    - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
    img 
        - alt Creative Commons-en baimena
        - style border-width:0
        - src {{ media_url ('images/by-sa.svg') }}
a#license 
    - rel license
    - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
    b iune.info
    | ko edukiak kopiatu, moldatu, zabaldu eta argitaratzeko libre zara, beti ere, nire egiletza direla aitortzen baduzu eta baldintza beretan egiten baduzu.
div#cc
    span 
        - xmlns:dct http://purl.org/dc/terms/
        - href http://purl.org/dc/dcmitype/InteractiveResource
        - property dct:title
        - rel="dct:type"
        | iune.info&nbsp
    | lana,&nbsp 
    a 
        - xmlns:cc http://creativecommons.org/ns#
        - href http://iune.info
        - property cc:attributionName
        - rel cc:attributionURL
        | iune&nbsp
    | egilearena,&nbsp 
    a 
        - rel license
        - href http://creativecommons.org/licenses/by-sa/3.0/deed.eu
        | Creative Commons Aitortu-PartekatuBerdin 3.0 Unported baimen baten mende dago
{% endblock footer %}
